altair
attrs
blinker 
Bottleneck 
Brotli 
cachetools 
certifi 
charset-normalizer 
click 
contourpy 
cycler 
fonttools 
gitdb
GitPython 
idna 
Jinja2 
jsonschema 
jsonschema-specifications 
kiwisolver 
markdown-it-py 
MarkupSafe 
matplotlib 
mdurl 
mkl-fft 
mkl-random 
mkl-service==2.4.0
numexpr 
numpy 
packaging 
pandas 
pillow 
ply 
protobuf==4.25.3
pyarrow 
pydeck 
Pygments 
pyparsing 
PyQt5==5.15.10
PyQt5-sip 
PySocks 
python-dateutil 
pytz 
PyYAML 
referencing 
requests 
rich 
rpds-py 
seaborn 
setuptools==69.5.1
sip 
six 
smmap 
streamlit 
tenacity
toolz
tornado
typing_extensions
tzdata
unicodedata2
watchdog
wheel==0.43.0
